<div data-sticky-container>
  <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="title-bar-left">
      <a href="#/" onclick="resetPosition()"><img src="./media/logo.svg"></a>
      <h4>foodful</h4>
    </div>
    <div class="title-bar-right">
      <input ng-model="searchText" type="text" placeholder="find a food bank">
      <a href="#">login</a>
      <a href="#">about</a>
    </div>
  </div>
</div>
<div id="about" class="animelement">
  <div class="row" id="aboutcontent">
    <div class="small-12 columns">
      <div class="column row">
        <h2>We're foodful</h2>
      </div>
      <div class="row">
        <div class="medium-6 columns padleft">
          <p>Foodful is a simple platform that connects restaurants and business to food banks and charities. If you’re not a business or charity, feel free to peruse our sampled database of food banks in America, either by using that there search bar on the top right corner or by visiting feedingamerica.com. </p>
          <p>Foodful keeps track of a restaurant’s donations, so feel free to show off your profile and make other restaurants jealous, if you’re into that. Oh and food donations are tax deductible, so you’ll make some coin while helping other people out - isn’t that awesome?</p>
        </div>
        <div class="medium-6 columns center">
          <div class="row">
            <a href="https://github.com/ygong10" target="_blank"><div class="small-6 columns padleft">
              <img src="./media/backend.png">
              <p class="title">Jerry Gong</p>
              <p class="subtitle">Backend dev</p>
            </div></a>
            <a href="https://github.com/cristobalwee" target="_blank"><div class="small-6 columns padright">
              <img src="./media/design.png">
              <p class="title">Cristobal Gra&ntilde;a</p>
              <p class="subtitle">Designer and Frontend dev</p>
            </div></a>
          </div>
          <div class="row">
            <a href="https://github.com/NaveenK96" target="_blank"><div class="small-6 columns padleft">
              <img src="./media/frontend.png">
              <p class="title">Naveen Kumar</p>
              <p class="subtitle">Frontend dev</p>
            </div></a>
            <a href="https://github.com/jimmy04500" target="_blank"><div class="small-6 columns padright">
              <img src="./media/fullstack.png">
              <p class="title">Edward Kim</p>
              <p class="subtitle">Full stack dev</p>
            </div></a>
          </div>
        </div>
      </div>
      <div class="column row">
        <a href="#/login"><button>sign up for free</button></a>
      </div>
    </div>
  </div>
</div>
