<div data-sticky-container>
  <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="title-bar-left">
      <a href="#/" onclick="resetPosition()" class="homelink"><img src="./media/logo.svg"></a>
      <h4>foodful</h4>
    </div>
    <div class="title-bar-right">
      <input ng-model="searchText" type="text" placeholder="find a food bank">
      <a href="#">login</a>
      <a href="#">about</a>
    </div>
  </div>
</div>
<div id="contact" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" class="animelement">
  <div class="column row content">
    <div class="row">
      <div class="small-12 columns">
        <h2>Start feeding, be foodful</h2>
      </div>
    </div>
    <div class="row">
      <div class="medium-4 columns center">
        <a href="http://www.feedingamerica.org/find-your-local-foodbank/?referrer=https://www.google.com/" target="_blank"><img src="./media/feedingamerica.png"></a>
      </div>
      <div class="medium-4 columns center">
        <a href="https://www.nrdc.org/issues/food" target="_blank"><img src="./media/nrdc.png"></a>
      </div>
      <div class="medium-4 columns center">
        <a href="http://foodshift.net/" target="_blank"><img src="./media/foodshift.png"></a>
      </div>
    </div>
    <div class="column row">
      <a href="#/login"><button id="signup">sign up for free</button></a>&nbsp;&nbsp;
      <a href="#/about"><button id="learnmore">learn more</button></a>
    </div>
  </div>
</div>
<div class="footer">
  <img src="./media/social_facebook.svg">&nbsp;
  <img src="./media/social_twitter.svg">&nbsp;
  <img src="./media/social_tumblr.svg">&nbsp;
</div>
<div class="indicator">
  <a href="#/" onclick="setPosition(0)"><div id="house">
    <img src="./media/house.svg">
  </div></a>
  <a href="#/facts" onclick="setPosition(1)"><div class="otherposition">
  </div></a>
  <a href="#/purpose" onclick="setPosition(2)"><div class="otherposition">
  </div></a>
  <a href="#/legal" onclick="setPosition(3)"><div class="otherposition">
  </div></a>
  <div class="currentposition">
  </div>
</div>
