<div data-sticky-container>
  <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="title-bar-left">
      <a href="#/" class="homelink"><img src="./media/logo.svg"></a>
      <h4>foodful</h4>
    </div>
    <div class="title-bar-right">
      <div class="responsive">
        <button type="button" onclick="toggleMenu()" data-toggle><img src="./media/menuicon.svg"></button>
      </div>
      <div class="responsivehide">
        <a href="#/search"><button class="searchbtn">find a food bank</button></a>
        <span ng-show="isLogged == null"><a ng-href="#/login">login</a></span>
        <a href="#/about">about</a>
        <span ng-show="isLogged != null"><a ng-href="#/profile" class="loggedin">{{isLogged.name}}</a></span>
      </div>
    </div>
  </div>
</div>
<div class="menu">
  <div data-sticky-container>
    <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
      <div class="title-bar-left">
        <a href="javascript:void(0)" class="homelink"><img src="./media/logo.svg"></a>
        <h4>foodful</h4>
      </div>
      <div class="title-bar-right">
        <button type="button" onclick="closeMenu()" data-toggle><img src="./media/closeicon.svg"></button>
      </div>
    </div>
  </div>
  <div class="menucontent">
    <input ng-model="searchText" type="text" placeholder="find a food bank"><br>
    <a href="#/login">login</a><br>
    <a href="#/facts">facts</a><br>
    <a href="#/purpose">purpose</a><br>
    <a href="#/legal">legal</a><br>
    <a href="#/about">about</a><br>
  </div>
  <div class="footer">
    <img src="./media/social_facebook.svg">&nbsp;
    <img src="./media/social_twitter.svg">&nbsp;
    <img src="./media/social_tumblr.svg">&nbsp;
  </div>
</div>
<div id="contact" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" class="animelement">
  <div class="column row content">
    <div class="row">
      <div class="small-12 columns">
        <h2>Start feeding, be foodful</h2>
      </div>
    </div>
    <div class="row">
      <div class="medium-4 columns center">
        <a href="http://www.feedingamerica.org/find-your-local-foodbank/?referrer=https://www.google.com/" target="_blank"><img src="./media/feedingamerica.png"></a>
      </div>
      <div class="medium-4 columns center">
        <a href="https://www.nrdc.org/issues/food" target="_blank"><img src="./media/nrdc.png"></a>
      </div>
      <div class="medium-4 columns center">
        <a href="http://foodshift.net/" target="_blank"><img src="./media/foodshift.png"></a>
      </div>
    </div>
    <div class="column row">
      <a href="#/login"><button id="signup">sign up for free</button></a>&nbsp;&nbsp;
      <a href="#/about"><button id="learnmore">learn more</button></a><br><br><br>
      <!--a id="fontsrc" href="http://www.onlinewebfonts.com">Athelas font from oNline Web Fonts</a-->
    </div>
  </div>
</div>
<div class="footer">
  <img src="./media/social_facebook.svg">&nbsp;
  <img src="./media/social_twitter.svg">&nbsp;
  <img src="./media/social_tumblr.svg">&nbsp;
</div>
<div class="indicator">
  <a href="#/"><div id="house">
    <img src="./media/house.svg">
  </div></a>
  <a href="#/facts"><div class="otherposition">
  </div></a>
  <a href="#/purpose"><div class="otherposition">
  </div></a>
  <a href="#/legal"><div class="otherposition">
  </div></a>
  <div class="currentposition">
  </div>
</div>
