<div data-sticky-container>
  <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="title-bar-left">
      <a href="#/" class="homelink"><img src="./media/logo.svg"></a>
      <h4>foodful</h4>
    </div>
    <div class="title-bar-right">
      <div class="responsive">
        <button type="button" onclick="toggleMenu()" data-toggle><img src="./media/menuicon.svg"></button>
      </div>
      <div class="responsivehide">
        <a href="#/search"><button class="searchbtn">find a food bank</button></a>
        <span ng-show="isLogged == null"><a ng-href="#/login">login</a></span>
        <span ng-show="isLogged == null"><a href="#/about">about</a></span>
        <span ng-show="isLogged != null"><a ng-href="#/profile" class="loggedin"><button class="navprofile">{{isLogged.name.charAt(0)}}</button></a></span>
      </div>
    </div>
  </div>
</div>
<div class="menu">
  <div data-sticky-container>
    <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
      <div class="title-bar-left">
        <a href="#/" class="homelink"><img src="./media/logo.svg"></a>
        <h4>foodful</h4>
      </div>
      <div class="title-bar-right">
          <button type="button" onclick="closeMenu()" data-toggle><img src="./media/closeicon.svg"></button>
      </div>
    </div>
  </div>
  <div class="menucontent">
    <input ng-model="searchText" type="text" placeholder="find a food bank"><br>
    <a href="#/login">login</a><br>
    <a href="#/facts">facts</a><br>
    <a href="#/purpose">purpose</a><br>
    <a href="#/legal">legal</a><br>
    <a href="#/about">about</a><br>
  </div>
  <div class="footer">
    <img src="./media/social_facebook.svg">&nbsp;
    <img src="./media/social_twitter.svg">&nbsp;
    <img src="./media/social_tumblr.svg">&nbsp;
  </div>
</div>
<div id="landing" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" class="animelement">
  <div class="row content">
    <div class="medium-6 columns left">
      <h2>A single restaurant wastes about 100,000 lbs of food a year</h2><br>
      <span class="responsivehide"><h5>That’s a lot of bread - 80,000 loaves of bread, to be exact</h5></span><br>
      <span class="responsivehide"><a href="#/login"><button class="makedifference">make a difference</button></a>&nbsp;&nbsp;<a href="#/about"><button class="morefoodful">what's foodful?</button></a></span>
    </div>
    <div class="medium-6 columns right">
      <img id="loaves" src="./media/loaves.svg">
      <div class="responsive" id="responsivebtn">
        <a href="#/login"><button class="makedifference">make a difference</button></a>&nbsp;&nbsp;<a href="#/about"><button class="morefoodful">what's foodful?</button></a>
      </div>
    </div>
  </div>
</div>
<div class="column row bottom center expanded responsivehide" id="scrollanim">
  <a href="#/facts"><div class="mouse center link">
    <div class="scrollwheel">
    </div>
  </div></a>
</div>
<div class="indicator responsivehide" id="first">
  <div id="currenthouse">
    <img src="./media/house.svg">
  </div>
  <a href="#/facts"><div class="otherposition">
  </div></a>
  <a href="#/purpose"><div class="otherposition">
  </div></a>
  <a href="#/legal"><div class="otherposition">
  </div></a>
  <a href="#/contact"><div class="otherposition">
  </div></a>
</div>
