<div data-sticky-container>
  <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="title-bar-left">
      <a href="#/" onclick="resetPosition()" class="homelink"><img src="./media/logo.svg"></a>
      <h4>foodful</h4>
    </div>
    <div class="title-bar-right">
      <input class="responsivehide" ng-model="searchText" type="text" placeholder="find a food bank">
      <a class="responsivehide" href="#/login">login</a>
      <a class="responsivehide" href="#/about">about</a>
      <img class="responsive" src="./media/menuicon.svg">
    </div>
  </div>
</div>
<div id="landing" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" class="animelement">
  <div class="row content">
    <div class="medium-6 columns left">
      <h2>A single restaurant wastes about 100,000 lbs of food a year</h2><br>
      <h5>That’s a lot of bread - 80,000 loaves of bread, to be exact</h5><br>
      <button id="makedifference">make a difference</button>&nbsp;&nbsp;<button id="morefoodful">what's foodful?</button>
    </div>
    <div class="medium-6 columns right">
      <img id="loaves" src="./media/loaves.svg">
    </div>
  </div>
</div>
<div class="column row bottom center expanded" id="scrollanim">
  <a href="#/facts"><div class="mouse center link">
    <div class="scrollwheel">
    </div>
  </div></a>
</div>
