<div id="login">
  <div class="backbtn">
    <a href="#/"><p>&larr; back to foodful</p></a>
  </div>
  <form name="loginForm" ng-submit="login()">
    <div class="row center">
      <div class="small-12 columns">
        <img src="./media/logo.svg">
        <h3>foodful</h3>
      </div>
      <div class="small-12 columns">
        <input ng-model="loginData.email" type="email" placeholder="email" required>
      </div>
      <div class="small-12 columns">
        <input ng-model="loginData.password" type="password" placeholder="password" required>
      </div>
      <div class="small-12 columns">
        <button type="submit" class="primary button">log in</button>
      </div>
      <br><br>
      <div class="small-12 columns">
        <p>new to foodful? <a href="#/register">sign up</a></p>
      </div>
    </div>
  </form>
</div>
