<div data-sticky-container>
  <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="title-bar-left">
      <a href="#/" class="homelink"><img src="./media/logo.svg"></a>
      <h4>foodful</h4>
    </div>
    <div class="title-bar-right">
      <div class="responsive">
        <button type="button" onclick="toggleMenu()" data-toggle><img src="./media/menuicon.svg"></button>
      </div>
      <div class="responsivehide">
        <a href="#/search"><button class="searchbtn">find a food bank</button></a>
        <span ng-show="isLogged == null"><a ng-href="#/login">login</a></span>
        <span ng-show="isLogged == null"><a href="#/about">about</a></span>
        <span ng-show="isLogged != null"><a class="loggedin"><button class="navprofile" onclick="dropDown()">{{isLogged.name.charAt(0).toUpperCase()}}</button></a></span>
        <div id="dropdown">
          <a href="#/profile">Profile</a><br>
          <a href="#/favorites">Favorites</a><br>
          <a href="javascript:void(0)" ng-click="logout()">Log out</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="menu">
  <div data-sticky-container>
    <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
      <div class="title-bar-left">
        <a href="#/" class="homelink"><img src="./media/logo.svg"></a>
        <h4>foodful</h4>
      </div>
      <div class="title-bar-right">
          <button type="button" onclick="closeMenu()" data-toggle><img src="./media/closeicon.svg"></button>
      </div>
    </div>
  </div>
  <div class="menucontent">
    <a href="#/search"><button class="searchbtn">find a food bank</button></a><br>
    <span ng-show="isLogged == null"><a ng-href="#/login">login</a></span><br>
    <span ng-show="isLogged != null"><a ng-href="#/profile">profile</a></span><br>
    <span ng-show="isLogged != null"><a href="javascript:void(0)" ng-click="logout()">log out</a></span><br>
    <a href="#/facts">facts</a><br>
    <a href="#/purpose">purpose</a><br>
    <a href="#/legal">legal</a><br>
    <a href="#/about">about</a><br>
  </div>
  <div class="footer">
    <img src="./media/social_facebook.svg">&nbsp;
    <img src="./media/social_twitter.svg">&nbsp;
    <img src="./media/social_tumblr.svg">&nbsp;
  </div>
</div>
<div id="profilepage">
  <div class="medium-4 columns center">
    <div class="initials">
      <h1>{{user.name.charAt(0).toUpperCase()}}</h1>
    </div>
    <h3>{{user.name}}</h3>
    <span class="bowl" ng-show="user.rating > 0"><img src="./media/logo.svg"></span>
    <span class="bowl" ng-hide="user.rating > 0"><img src="./media/logolight.svg"></span>
    <span class="bowl" ng-show="user.rating > 1.5"><img src="./media/logo.svg"></span>
    <span class="bowl" ng-hide="user.rating > 1.5"><img src="./media/logolight.svg"></span>
    <span class="bowl" ng-show="user.rating > 2.5"><img src="./media/logo.svg"></span>
    <span class="bowl" ng-hide="user.rating > 2.5"><img src="./media/logolight.svg"></span>
    <span class="bowl" ng-show="user.rating > 3.5"><img src="./media/logo.svg"></span>
    <span class="bowl" ng-hide="user.rating > 3.5"><img src="./media/logolight.svg"></span>
    <span class="bowl" ng-show="user.rating > 4.5"><img src="./media/logo.svg"></span>
    <span class="bowl" ng-hide="user.rating > 4.5"><img src="./media/logolight.svg"></span><br><br>
    <!--span class="center" ng-show="user.typeID == 1"><p>Food bank or Charity</p></span>
    <span class="center" ng-show="user.typeID == 0"><p>Restaurant or business</p></span-->
    <span class="center"><a href="#/editprofile"><button class="makedifference">Edit profile</button></a></span>
  </div>
  <div class="medium-8 columns">
    <div class="column row description">
      <h3>About us</h3>
      <span ng-show="user.description == null"><p>Hmmm... Looks like you haven't added a description</p></span>
      <p>{{user.description}}</p>
    </div>
    <div class="column row description">
      <h3>Contact info</h3>
      <div class="medium-4 columns">
        <p>Email: {{user.email}}</p>
        <p>Phone Number: {{user.phone_number}}</p>
        <p>Hours: {{user.openHour}}:{{user.start_minute}} {{openampm}} - {{user.closeHour}}:{{user.end_minute}} {{closeampm}}</p>
      </div>
      <div class="medium-4 columns">
        <p>Address: {{user.address}}</p>
        <p>City: {{user.city}}, {{user.state}}</p>
        <p>Zipcode: {{user.zipcode}}</p>
      </div>
      <div class="medium-4 columns" ng-show="user.typeID == 1">
        <div class="column row center status" ng-show="user.amount == 1">
          <img src="./media/silverware.svg">
          <p class="center padded">we’re taking food</p>
        </div>
        <div class="column row center status" ng-show="user.amount == 0">
          <img src="./media/satisfied.svg">
          <p class="center padded">we’re good for today</p>
        </div>
      </div>
      <div class="medium-4 columns" ng-show="user.typeID == 0">
        <div class="column row center status" ng-show="user.amount == 1">
          <img src="./media/open.svg">
          <p class="center padded">we have food to give</p>
        </div>
        <div class="column row center status" ng-show="user.amount == 0">
          <img src="./media/sleeping.svg">
          <p class="center padded">we’re done for today</p>
        </div>
      </div>
    </div>
  </div>
</div>
