<div data-sticky-container>
  <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="title-bar-left">
      <a href="#/" class="homelink"><img src="./media/logo.svg"></a>
      <h4>foodful</h4>
    </div>
    <div class="title-bar-right">
      <div class="responsive">
        <button type="button" onclick="toggleMenu()" data-toggle><img src="./media/menuicon.svg"></button>
      </div>
      <div class="responsivehide">
        <a href="#/search"><button class="searchbtn">find a food bank</button></a>
        <span ng-show="isLogged == null"><a ng-href="#/login">login</a></span>
        <span ng-show="isLogged == null"><a href="#/about">about</a></span>
        <span ng-show="isLogged != null"><a ng-href="#/profile" class="loggedin"><button class="navprofile">{{isLogged.name.charAt(0)}}</button></a></span>
      </div>
    </div>
  </div>
</div>
<div class="menu">
  <div data-sticky-container>
    <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
      <div class="title-bar-left">
        <a href="#/" class="homelink"><img src="./media/logo.svg"></a>
        <h4>foodful</h4>
      </div>
      <div class="title-bar-right">
          <button type="button" onclick="closeMenu()" data-toggle><img src="./media/closeicon.svg"></button>
      </div>
    </div>
  </div>
  <div class="menucontent">
    <input ng-model="searchText" type="text" placeholder="find a food bank"><br>
    <a href="#/login">login</a><br>
    <a href="#/facts">facts</a><br>
    <a href="#/purpose">purpose</a><br>
    <a href="#/legal">legal</a><br>
    <a href="#/about">about</a><br>
  </div>
  <div class="footer">
    <img src="./media/social_facebook.svg">&nbsp;
    <img src="./media/social_twitter.svg">&nbsp;
    <img src="./media/social_tumblr.svg">&nbsp;
  </div>
</div>
<div id="purpose" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" class="animelement">
  <div class="column row" id="purposecontent">
    <div class="row">
      <div class="small-12 columns">
        <h2>We can make a difference</h2>
      </div>
    </div>
    <div class="column row">
      <img src="./media/logo.svg">
      <p>In an effort to drastically reduce food waste in America while simultaneously feeding the needy, Foodful connects restaurants with nearby food banks and charities so that they may donate any leftover food at the end of the day.<p>
    </div>
  </div>
</div>
<div class="indicator responsivehide">
  <a href="#/"><div id="house">
    <img src="./media/house.svg">
  </div></a>
  <a href="#/facts"><div class="otherposition">
  </div></a>
  <div class="currentposition">
  </div>
  <a href="#/legal"><div class="otherposition">
  </div></a>
  <a href="#/contact"><div class="otherposition">
  </div></a>
</div>
