<div data-sticky-container>
  <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="title-bar-left">
      <a href="#/" onclick="resetPosition()" class="homelink"><img src="./media/logo.svg"></a>
      <h4>foodful</h4>
    </div>
    <div class="title-bar-right">
      <input ng-model="searchText" type="text" placeholder="find a food bank">
      <a href="#">login</a>
      <a href="#">about</a>
    </div>
  </div>
</div>
<div id="purpose" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" class="animelement">
  <div class="column row" id="factscontent">
    <div class="row">
      <div class="small-12 columns">
        <h2>We can make a difference</h2>
      </div>
    </div>
    <div class="column row">
      <img src="./media/logo.svg">
      <p>In an effort to drastically reduce food waste in America while simultaneously feeding the needy, Foodful connects restaurants with nearby food banks and charities so that they may donate any leftover food at the end of the day.<p>
    </div>
  </div>
</div>
<div class="indicator">
  <a href="#/facts"><div class="otherposition">
  </div></a>
  <div class="currentposition">
  </div>
  <a href="#/legal"><div class="otherposition">
  </div></a>
  <a href="#/contact"><div class="otherposition">
  </div></a>
</div>
