<div id="register">
  <div class="backbtn">
    <a href="#/"><p>&larr; back to foodful</p></a>
  </div>
  <form name="registerForm" ng-submit="register()">
    <div class="row center">
      <div class="small-12 columns">
        <img src="./media/logo.svg">
        <h3>foodful</h3>
      </div>
      <div class="small-12 columns">
        <div class="row center">
          <div class="medium-6 columns">
            <select ng-model="registerData.typeID" ng-style="errorStyleTypeID">
              <option value="" disabled selected>donor or donatee?</option>
              <option value="0">donor</option>
              <option value="1">donatee</option>
            </select>
            <!--label>user type
              <input ng-model="registerData.typeID" type="radio" name="typeid" value="1" checked><label>donatee</label>
              <input ng-model="registerData.typeID" type="radio" name="typeid" value="0"><label>donor</label>
            </label-->
          </div>
          <div class="medium-6 columns">
            <input ng-model="registerData.name" type="text" placeholder="name" ng-style="errorStyleName">
          </div>
        </div>
        <div class="row center">
          <div class="medium-6 columns">
            <input ng-model="registerData.email" type="text" placeholder="email" ng-style="errorStyleEmail">
          </div>
          <div class="medium-6 columns">
            <input ng-model="registerData.phone_number" type="tel" placeholder="phone number" ng-style="errorStylePhoneNumber">
          </div>
        </div>
        <div class="row center">
          <div class="medium-6 columns">
            <input ng-model="address" type="text" placeholder="address" ng-style="errorStyleAddress">
          </div>
          <div class="medium-6 columns">
            <input ng-model="city" type="text" placeholder="city" ng-style="errorStyleCity">

          </div>
        </div>
        <div class="row center">
          <div class="medium-6 columns">
            <select ng-model="state" ng-style="errorStyleState">
              <option value="" disabled selected>state</option>
              <option ng-repeat="state in states" value={{state}}>{{state}}</option>
            </select>
          </div>
          <div class="medium-6 columns">
            <input ng-model="zipcode" type="text" placeholder="zip code" ng-style="errorStyleZipcode">
          </div>
        </div>
        <div class="row center">
          <div class="medium-6 columns">
            <input class="hrmin" ng-model="starthr" type="text" placeholder="opening hour" ng-style="errorStyleStartHour">&nbsp;:
            <input class="hrmin" ng-model="registerData.start_minute" type="text" placeholder="opening minute" ng-style="errorStyleStartMinute">
            <select class="hrmin" ng-model="startTime" ng-style="errorStyleStartTime">
              <option value="" disabled selected>am or pm?</option>
              <option value="AM">am</option>
              <option value="PM">pm</option>
            </select>
          </div>
          <div class="medium-6 columns">
            <input class="hrmin" ng-model="endhr" type="text" placeholder="closing hour" ng-style="errorStyleEndHour">&nbsp;:
            <input class="hrmin" ng-model="registerData.end_minute" type="text" placeholder="closing minute" ng-style="errorStyleEndMinute">
            <select class="hrmin" ng-model="endTime" ng-style="errorStyleEndTime">
              <option value="" disabled selected>am or pm?</option>
              <option value="AM">am</option>
              <option value="PM">pm</option>
            </select>
          </div>
        </div>
        <div class="row center">
          <div class="medium-6 columns">
            <input ng-model="registerData.password" type="password" placeholder="password" ng-style="errorStylePassword">
          </div>
          <div class="medium-6 columns">
            <input ng-model="pwConfirm" type="password" placeholder="confirm password" >
          </div>
          <div class="row center">
            <div class="medium-12 columns">
              <input id="description" ng-model="registerData.description" placeholder="description" type="text">
            </div>
          </div>
        </div>
        <button type="submit" class="primary button">Submit</button>
      </div>
      <p ng-show="formError">Error: <span ng-bind="errorMessage"></span></p>
    </div>
  </form>
</div>
