<div id="register">
  <form name="registerForm" ng-submit="register()">
    <div class="row">
        <label>user type
          <input ng-model="registerData.typeID" type="radio" name="typeid" value="1" checked><label>donatee</label>
          <input ng-model="registerData.typeID" type="radio" name="typeid" value="0"><label>donor</label>
        </label>

        <input ng-model="registerData.name" type="text" placeholder="name">
        <input ng-model="registerData.email" type="email" placeholder="email">
        <input ng-model="registerData.phone_number" type="tel" placeholder="phone number">
        <input ng-model="address" type="text" placeholder="address">
        <input ng-model="city" type="text" placeholder="city">
        <input ng-model="state" type="text" placeholder="state">
        <input ng-model="zipcode" type="text" placeholder="zip code">

        <label>
        Start hour
        <input ng-model="registerData.start_hour" type="text">
        Start minute
        <input ng-model="registerData.start_minute" type="text">
        <select ng-model="startTime">
            <option value="AM">A.M.</option>
            <option value="PM">P.M.</option>
        </select>
        End hour
        <input ng-model="registerData.end_hour" type="text">
        End minute
        <input ng-model="registerData.end_minute" type="text">
        <select ng-model="endTime">
            <option value="AM">A.M.</option>
            <option value="PM">P.M.</option>
        </select>
        </label>

        <input ng-model="registerData.password" type="password" placeholder="password">
        <input ng-model="pwConfirm" type="password" placeholder="confirm password">
        <input ng-model="registerData.description" placeholder="descritption" type="text">

        <button type="submit" class="primary button">Submit</button>
    </div>
  </form>
</div>
