<div data-sticky-container>
  <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="title-bar-left">
      <a href="#/" class="homelink"><img src="./media/logo.svg"></a>
      <h4>foodful</h4>
    </div>
    <div class="title-bar-right">
      <div class="responsive">
        <button type="button" onclick="toggleMenu()" data-toggle><img src="./media/menuicon.svg"></button>
      </div>
      <div class="responsivehide">
        <a href="#/search"><button class="searchbtn">find a food bank</button></a>
        <span ng-show="isLogged == null"><a ng-href="#/login">login</a></span>
        <a href="#/about">about</a>
        <span ng-show="isLogged != null"><a ng-href="#/profile" class="loggedin">{{isLogged.name}}</a></span>
      </div>
    </div>
  </div>
</div>
<div class="menu">
  <div data-sticky-container>
    <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
      <div class="title-bar-left">
        <a href="#/" class="homelink"><img src="./media/logo.svg"></a>
        <h4>foodful</h4>
      </div>
      <div class="title-bar-right">
          <button type="button" onclick="closeMenu()" data-toggle><img src="./media/closeicon.svg"></button>
      </div>
    </div>
  </div>
  <div class="menucontent">
    <input ng-model="searchText" type="text" placeholder="find a food bank"><br>
    <a href="#/login">login</a><br>
    <a href="#/facts">facts</a><br>
    <a href="#/purpose">purpose</a><br>
    <a href="#/legal">legal</a><br>
    <a href="#/about">about</a><br>
  </div>
  <div class="footer">
    <img src="./media/social_facebook.svg">&nbsp;
    <img src="./media/social_twitter.svg">&nbsp;
    <img src="./media/social_tumblr.svg">&nbsp;
  </div>
</div>
<div id="search">
  <div class="row">
    <div class="medium-8 columns">
      <div map-lazy-load="https://maps.googleapis.com/maps/api/js?libraries=places" map-lazy-load-params="{{googleMapsUrl}}">
      <!--<marker position=></marker>-->
        <ng-map id="map" center="[{{lat}}, {{lng}}]" zoom="18" style="height: 25rem; width: 100%;">
          <marker ng-repeat="result in searchResults" position="{{result.location}}" on-click="showDetail(result)"></marker>
          <info-window id="map-info">
            <div ng-non-bindable="">
              HELLLOOWOWOWO
              <span ng-bind="result.name"></span>
            </div>
          </info-window>
        </ng-map>
			</div>
		</div>
		<div class="medium-4 columns">
			<form class="center" ng-submit="getNearby()">
				<div class="column row">
					<h4>Search</h4>
				</div>
				<div class="column row">
					<input id="mapsearch" places-auto-complete types="['geocode']" on-place-changed="myCallback(place)" component-restrictions="{country:'us'}" ng-model="searchAddress">
				</div>
        <div class="row">
					<div class="small-6 columns">
						<select ng-model="search.distance">
              <option value="" disabled selected>distance</option>
              <option value="10">within 10mi</option>
              <option value="20">within 20mi</option>
              <option value="30">within 30mi</option>
              <option value="40">within 40mi</option>
              <option value="50">within 50mi</option>
            </select>
					</div>
          <div class="small-6 columns">
            <select ng-model="search.rating">
              <option value="" disabled selected>rating</option>
              <option value="0">All ratings</option>
              <option value="1">&starf; and above</option>
              <option value="2">&starf;&starf; and above</option>
              <option value="3">&starf;&starf;&starf; and above</option>
              <option value="4">&starf;&starf;&starf;&starf; and above</option>
              <option value="5">&starf;&starf;&starf;&starf;&starf; and above</option>
            </select>
          </div>
				</div>
				<div class="row">
					<div class="small-6 columns">
						<p class="inline">restaurants</p>&nbsp;<input class="radio" value="0" type="radio" name="type" ng-model="search.typeID">
					</div>
					<div class="small-6 columns">
						<p class="inline">food banks</p>&nbsp;<input class="radio" value="1" type="radio" name="type" ng-model="search.typeID">
					</div>
        </div>
				<div>
					<button type="submit" class="primary button">Search</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="searchresults">
  <div class="favorite" ng-repeat="result in searchResults">
    <div class="row">
      <div class="medium-3 columns">
        <img class="profile" src="./media/frontend.png">
      </div>
      <div class="medium-6 columns">
        <h2>{{result.name}}</h2>
        <p>{{result.description}}</p>
      </div>
      <div class="medium-3 columns" ng-show="result.typeID == 1">
        <div class="column row center" ng-show="result.amount == 1">
          <img src="./media/silverware.svg">
          <p class="center padded">we’re taking food</p>
        </div>
        <div class="column row center" ng-show="result.amount == 0">
          <img src="./media/satisfied.svg">
          <p class="center padded">we’re good for today</p>
        </div>
      </div>
      <div class="medium-3 columns" ng-show="result.typeID == 0">
        <div class="column row center" ng-show="result.amount == 1">
          <img src="./media/open.svg">
          <p class="center padded">we have food to give</p>
        </div>
        <div class="column row center" ng-show="result.amount == 0">
          <img src="./media/sleeping.svg">
          <p class="center padded">we’re done for today</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--div class="row">
  <div class="medium-8 columns">
  <div class="medium-8 columns" ng-repeat="result in searchResults">
    <p>
      Name: <span ng-bind="result.name"></span>
    </p>
  </div>
</div-->
